# Using .dockerignore as a whitelist helps prevent accidentally adding sensitive data or unintentional bloat
*

# include files required for building & running the app
!package*.json
!tsconfig.json
!src
!typings
!README.md

# Don't ignore these files which are important for Docker
!.dockeringore
!Dockerfile